@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

main{
    font-family: 'Nunito', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

.livros{
    float: left;
    width: calc(100% - 50px);
    height: max-content;
    margin-top: 10px;
    padding-top: 10px;
}
.livros h2{
    margin: 20px;
    text-align: center;
    font-size: 30px;
    color: #000;
}
.livro{
    padding-right: 50px;
    padding-left: 50px;
}
.card{
    float: left;
    margin-left: 100px;
    margin-left: 100px;

}
.card img{
    width: 180px;
    height: 300px;
}
.card img:hover{
    transform: scale(1.05,1.05);
    box-shadow: 2px 4px 4px #000;
}
.card-img-top{
    top: 0;
    left: 0;
}
.card-body{
    text-align: center;
}
.card-body a{
    color: #000;
    text-decoration: none;
}
.card-body a:hover{
    text-shadow: #000 10px 10px 10px;
}
.card-title{
    font-size: large;
    text-align: left;
}
.card-text{
    text-align: center;
    font-weight: 600;
}
.btn{
    cursor: pointer;
    margin: 1px;
    width: 80px;
    height: 35px;
    background-color: blue;
    box-shadow: #000 -5px -5px 5px;
    border: none;
    color: antiquewhite;
    font-size: larger;
    text-align: center;
}
.btn:hover{
    transform: scale(1.10,1.10);
    font-weight: 600;
    color: #000;
}

.heart {
    color: #000;
    background-color: red;
    width: 110px;
}
