body{
    background-color: #fffCF2;
    color: #252422;
}
*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    display: inline;
    position: fixed;    
    width: 100%;
    height: max-content;
    padding: 10px;
    background-color: #403D39;
    opacity: .90;
}
.logo{
    left: 5%;
    width: 300px;
    height: 75px;
}
.logo img{
    display: block;
    width: max-content;
    height: max-content;
}
.busca{
    position: absolute;
    top: 25%;
    margin-left: 325px;
}
.busca .pesquisa{
    width: 300px;
    height: 40px;
    border-style: solid;
    border-color: 403D39;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.busca .enviar{
    position: absolute;
    cursor: pointer;
    top: 0;
    width: 50px;
    height: 44px;
    background-color: #CCC5B9;
    border-style: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.nav-bar{
    position: absolute;
    top: 25%;
    right: 0;
    height: 50px;
}
.nav-bar ul{
    display: inline;
    list-style: none;
    overflow: hidden;
    height: max-content;
}
.nav-bar ul li{
    float: left;
    margin: 0 30px 30px;

}
.nav-bar ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
.nav-bar ul li a:hover{
    color: #CCC5B9;
    background-color: #252422;
    border-radius: 20px;
}
.rodape{
    position: fixed;
    float: left;
    width: 100%;
    height: max-content;
    padding: 10px;
    left: 0;
    bottom: 0;
    background-color: #403D39;
    opacity: .90;
}
.links-missao{
    display: block;
    float: left;
    top: 25%;
    height: max-content;
}
.links ul{
    display: block; 

    float: left;
    list-style: none;
    overflow: hidden;
}
.links ul li{
    float: left;
    margin: 0;
    padding: 0;
}
.links ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    padding-left: 15px;
    text-decoration: none;
}
.links ul li a:hover{
    color: #CCC5B9;
    background-color: #252422;
    border-radius: 20px;
}
.rodape .texto{
    float: left;
    width: 300px;
    margin-left: 2%;
}
.texto p{
    text-align: justify;
}
.patrocinadores{
    position: relative;
    float: left;
    bottom: 0;
    width: 500px;
    height: max-content;
    border: 3px solid #73a;
}
.patrocinadores .titulo-pat{
    width: max-content;
    height: 100px;
    border: 3px solid #73aaac;
}
.patrocinadores .titulo-pat h2{
    text-align: center;
}
.pat1 img{
    float: left;
    width: 300px;
    border: 3px solid #73AD21;
}
.pat2 img{
    float: left;
    width: 300px;
    border: 3px solid #73AD21;
}
.pat3 img{
    float: left;    
    width: 300px;
    border: 3px solid #73AD21;
}
.pat4 img{
    float: left;
    width: 300px;
    border: 3px solid #73AD21;
}