body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fffCF2;
    color: #252422;
}
*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    display: inline;
    position: fixed;    
    width: 100%;
    height: max-content;
    padding: 10px;
    background-color: #403D39;
    opacity: .90;
}
.logo{
    left: 5%;
    width: 300px;
    height: 75px;
}
.logo img{
    display: block;
    width: max-content;
    height: max-content;
}
.busca{
    position: absolute;
    top: 25%;
    margin-left: 325px;
}
.busca .pesquisa{
    width: 300px;
    height: 40px;
    border-style: solid;
    border-color: 403D39;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.busca .enviar{
    position: absolute;
    cursor: pointer;
    top: 0;
    width: 50px;
    height: 44px;
    background-color: #CCC5B9;
    border-style: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.nav-bar{
    position: absolute;
    top: 25%;
    right: 0;
    height: 50px;
}
.nav-bar ul{
    display: inline;
    list-style: none;
    overflow: hidden;
    height: max-content;
}
.nav-bar ul li{
    float: left;
    margin: 0 30px 30px;

}
.nav-bar ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
.nav-bar ul li a:hover{
    color: #EB5E28;
    background-color: #252422;
    border-radius: 20px;
}
.rodape{
    position: fixed;
    float: left;
    width: 100%;
    height: max-content;
    padding: 10px;
    left: 0;
    bottom: 0;
    background-color: #403D39;
    opacity: .90;
}
.links-missao{
    display: block;
    float: left;
    top: 25%;
    height: max-content;
}
.links ul{
    display: block; 

    float: left;
    list-style: none;
    overflow: hidden;
}
.links ul li{
    float: left;
    margin: 0;
    padding: 0;
}
.links ul li a{
    display: block;
    color: black;
    text-shadow: 100px;
    text-align: center;
    padding: 15px;
    padding-left: 15px;
    text-decoration: none;
}
.links ul li a:hover{
    color: #CCC5B9;
    background-color: #252422;
    border-radius: 20px;
}
.rodape .texto{
    float: left;
    width: 300px;
    margin-left: 2%;
}
.texto p{
    color: #fffCF2;
    text-align: justify;
}
.patrocinadores{
    width: calc(1920/2);
    margin: auto;
    float: left;
    bottom: 0;
    height: max-content;
    border: none;
}
.patrocinadores .titulo-pat{
    margin: 25px 0 0 0;
    position: relative;
    width: 100%;
    height: fit-content;
    border: none;
}
.patrocinadores .titulo-pat h2{
    margin: auto;
    text-align: center;
}
.tabela-pat{
    width: 100%;
    margin: 50px 0 0 0;
    border: none;
}
.tabela-cabecalho th{
    font-size: 20px;
    text-align: center;
    color: #EB5E28;
    text-decoration: overline underline #CCC5B9;
    margin-left: auto;
    margin-right: auto;
}
.tabela-pat .linha1 .dado1{
    margin-left: auto;
    margin-right: auto;
}
.dado1 img{
    width: 100%;
}
.tabela-pat .linha1 .dado2{
    margin-left: auto;
    margin-right: auto;
}
.dado2 img{
    width: 100%;
}
.tabela-pat .linha1 .dado3{
    margin-left: auto;
    margin-right: auto;
}
.dado3 img{
    width: 100%;
}
.redes-sociais{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    bottom: 0;
    height: max-content;
    border: none;
}
.redes-sociais .titulo-redes{
    margin: 10px;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    border: solid;
}
.redes-sociais .titulo-redes h2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}